<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Number of Refugees & Asylum Seekers from <%= @origin.country.name %> from 1990-2017</h1>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .page-header -->
