<div class="single-page causes-page">
  <%= render '/origins/section1' %>
</div>

<div class="chart"
  <div id="chart-container">
  <%= @chart.render() %>
  </div>
</div>
<br><br>

<div class="info">
  <h2>Facts & Statistics by Country</h2><br>
    <div class="card text-white bg-primary mb-3">
     <h4><div class="card-header">Syria</div></h4>
     <div class="card-body">
       <p class="card-text">The number of Syrians who’ve fled their country increased by 14 percent in 2017, according to the UNHCR. That puts the total number of refugees from the 7-year-long conflict to 6.3 million people. Most settled in neighboring countries Turkey, Lebanon, Jordan, and Iraq. Most Syrian refugees remain in the Middle East; including 3.5 million in Turkey, the largest number of refugees hosted by any country. The war has displaced an additional 6.6 million Syrians within Syria.</p>
     </div>
   </div>

   <div class="card text-white bg-primary mb-3">
     <h4><div class="card-header">Afghanistan</div></h4>
     <div class="card-body">
       <p class="card-text">About 2.6 million people from Afghanistan are living as refugees, representing the second-largest refugee population in the world. Pakistan hosts nearly 1.4 million, including some second- or third-generation Afghan refugees who have never lived in their home country. Some have been forced to return home from neighboring countries, but increased violence in Afghanistan since 2015 has led to a new surge of asylum seekers. As many as 1.5 million Afghanis are displaced within the country due to conflict.</p>
     </div>
   </div>

   <div class="card text-white bg-primary mb-3">
     <h4><div class="card-header">South Sudan</div></h4>
     <div class="card-body">
       <p class="card-text">South Sudan saw the largest increase in people fleeing the country in 2017. During the year the number of refugees increased from 1.4 million to 2.4 million people. The world’s youngest country sank back into violent turmoil in July 2016 after renewed fighting shattered a peace deal that was years in the making. Nearly half of South Sudan’s refugees have fled to Uganda. In addition, 1.9 million people have been displaced within the country.</p>
     </div>
   </div>

   <div class="card text-white bg-primary mb-3">
     <h4><div class="card-header">Myanmar</div></h4>
     <div class="card-body">
       <p class="card-text">About 1.2 million people who identify as members of the Rohingya ethnic group have fled their homes in western Myanmar’s Rakhine state. As many as 700,000 relocated to Bangladesh since August 2017. Aid agencies are struggling to adequately serve people who are dependent on aid, including those in local communities.</p>
     </div>
   </div>

   <div class="card text-white bg-primary mb-3">
     <h4><div class="card-header">Somalia</div></h4>
     <div class="card-body">
       <p class="card-text">The number of Somali refugees actually declined slightly in 2017 to 986,400. Most refugees have settled in Kenya, Ethiopia, or Yemen. Some have lived in massive refugee camps for years. About 100,000 have returned to the country since June 2016, largely due to the Kenyan government’s intent to eventually close Dadaab refugee camp, at one time the world’s largest. But the widespread humanitarian need continues as a result of conflict and recurring and severe drought inside Somalia. Within Somalia, an estimated more than 2 million people are displaced because of insecurity.</p>
     </div>
   </div>
</div>
