<div class="home-page-icon-boxes">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/hands-gray.png" alt="">
            <img src="images/hands-white.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Facts & Terminologies", facts_path, class: "entry-title" %></h3>
          </header>

          <!-- <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
          </div> -->
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/donation-gray.png" alt="">
            <img src="images/donation-white.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Countries of Origin for Refugees and Asylum Seekers", origins_path, class: "entry-title" %></h3>
          </header>

          <!-- <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
          </div> -->
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/charity-gray.png" alt="">
            <img src="images/charity-white.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Countries of Destination for Refugees and Asylum Seekers", destinations_path, class: "entry-title" %></h3>
          </header>

          <!-- <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
          </div> -->
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .home-page-icon-boxes -->
