<div class="home-page-icon-boxes">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/tent.png" alt="">
            <img src="images/tent.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Facts & Terminologies", facts_path, class: "entry-title" %></h3>
          </header>

          <div class="entry-content">
            <p>68.5 million individuals have been forcibly displaced worldwide as a result of persecution, conflict, violence or human rights violations. We are now witnessing the highest levels of displacement on record.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/sos.png" alt="">
            <img src="images/sos.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Countries of Origin for Refugees and Asylum Seekers", origins_path, class: "entry-title" %></h3>
          </header>

          <div class="entry-content">
            <p>A record 68.5 million people have been forced to flee their homes. Learn more about refugees and this global crisis. </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <figure class="d-flex justify-content-center">
            <img src="images/road.png" alt="">
            <img src="images/road.png" alt="">
          </figure>

          <header class="entry-header">
            <h3><%= link_to "Countries of Destination for Refugees and Asylum Seekers", destinations_path, class: "entry-title" %></h3>
          </header>

          <div class="entry-content">
            <p>By the end of 2017, about 3.1 million people were awaiting a decision on their application for asylum, about half in developing regions. </p>
          </div>
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .home-page-icon-boxes -->
