<!-- <div class="home-page-welcome"> -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="welcome-content">
                    <header class="entry-header">
                        <h2 class="entry-title">Statistics as of 2017</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>In 2017, 16.2 million people were forcibly displaced as a result of persecution, conflict or generalized violence. This equates to 44,400 people every day and is the highest number recorded by UNHCR.</p>
                        <p>It brings the total worldwide population of forcibly displaced people to a new high of 68.5 million. This includes 40 million internally displaced people (IDPs), 25.4 million refugees and 3.1 million asylum-seekers.</p>
                        <p>The past decade has seen a substantial increase in the world’s forcibly displaced population, with the number standing at 42.7 million in 2007. The conflict in the Syrian Arab Republic (Syria) and significant displacements in Burundi, Central African Republic, the DRC, Iraq, Myanmar, South Sudan, Sudan, Ukraine and Yemen have driven an increase to the levels observed today.</p>
                    </div><!-- .entry-content -->

                </div><!-- .welcome-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                <img src="images/syr.jpg" alt="welcome">
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
<!-- </div> -->
