<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap">
            <img src="images/hero.jpg" alt="">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>Refugees & Asylees</h1>
                            </header><!-- .entry-header -->
                            <div class="entry-content mt-4">
                                <p>Globally, the forcibly displaced population increased in 2017 by 2.9 million.
By the end of the year, 68.5 million individuals were forcibly displaced worldwide as
a result of persecution, conflict, or generalized violence. As a result, the world’s
forcibly displaced population remained yet again at a record high.</p>
                            </div><!-- .entry-content -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->

    <div class="pagination-wrap position-absolute w-100">
        <div class="container">
            <div class="swiper-pagination"></div>
        </div><!-- .container -->
    </div><!-- .pagination-wrap -->

</div><!-- .hero-slider -->
