<div class="jumbotron">
  <h1 class="display-3">Refugee Statistics</h1>
</div>

<div class="info">
  <%= link_to "Refugee Facts", facts_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to "Top Countries of Origin for Refugees and Asylum Seekers", origins_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to "Top Countries of Destination for Refugees and Asylum Seekers", destinations_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
