<div class="jumbotron">
  <h1 class="display-3">Refugee Statistics</h1>
  <p class="lead">The past decade has seen substantial growth in the global population of
forcibly displaced people. In 2007, this population numbered 42.7 million;
over the last 10 years, this figure has increased by over 50 per cent. Today 1 out of every 110 people in the world is displaced, compared with 1 in
157 a decade ago, with much of this increase having occurred over the last
five years. While the Syrian conflict contributed significantly to this increase,
there have been other major displacements throughout the world over the
last five years, notably in and from Burundi, Central African Republic, the
DRC, Iraq, Myanmar, South Sudan, Sudan, Ukraine, and Yemen.</p>
</div>

<div class="info">
  <%= link_to "Refugee Facts", facts_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to "Top Countries of Origin for Refugees and Asylum Seekers", origins_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to "Top Countries of Destination for Refugees and Asylum Seekers", destinations_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
