<!-- <div class="home-page-welcome"> -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="welcome-content">
                    <header class="entry-header">
                        <h2>Who is a refugee?</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>A refugee is someone who has been forced to flee his or her country because of persecution, war or violence. A refugee has a well-founded fear of persecution for reasons of race, religion, nationality, political opinion or membership in a particular social group. Most likely, they cannot return home or are afraid to do so. War and ethnic, tribal and religious violence are leading causes of refugees fleeing their countries.</p>
                    </div><!-- .entry-content --><br>

                    <header class="entry-header">
                        <h2>Who is an internally displaced person (IDP)?</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>An internally displaced person, or IDP, is someone who has been forced to flee their home but never cross an international border. These individuals seek safety anywhere they can find it—in nearby towns, schools, settlements, internal camps, even forests and fields. Unlike refugees, IDPs are not protected by international law or eligible to receive many types of aid because they are legally under the protection of their own government.</p>
                    </div><!-- .entry-content -->

                </div><!-- .welcome-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                <img src="images/syrian1.jpg" alt="syrian1">
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
<!-- </div> -->
