<!-- <div class="home-page-welcome"> -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="welcome-content">
                    <header class="entry-header">
                        <h2 class="entry-title">Who is a stateless person?</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>A stateless person is someone who is not a citizen of any country. Citizenship is the legal bond between a government and an individual, and allows for certain political, economic, social and other rights of the individual, as well as the responsibilities of both government and citizen. A person can become stateless due to a variety of reasons, including sovereign, legal, technical or administrative decisions or oversights.</p>
                    </div><!-- .entry-content --><br>

                    <header class="entry-header">
                        <h2 class="entry-title">Who is an asylum seeker?</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content mt-5">
                        <p>When people flee their own country and seek sanctuary in another country, they apply for asylum – the right to be recognized as a refugee and receive legal protection and material assistance. An asylum seeker must demonstrate that his or her fear of persecution in his or her home country is well-founded.</p>
                    </div><!-- .entry-content -->

                </div><!-- .welcome-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                <img src="images/rohingya.jpg" alt="rohingya"><br>
                <img src="images/asylum.jpg" alt="asylum">
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
<!-- </div> -->
