<!-- <div class="our-causes pt-0"> -->
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/syria1.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">16.2 million newly displaced</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">An estimated 16.2 million people were newly displaced in 2017. This included 11.8 million individuals displaced within the borders of their own countries and 4.4 million newly displaced refugees and new asylum-seekers.</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/sudan1.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">44,000 new displacements every day</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">The number of new displacements was equivalent to an average of 44,400 people being forced to flee their homes every day in 2017.</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/cause-1.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">52% Children</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">Children below 18 years of age constituted about half of the refugee population in 2017, up from 41 per cent in 2009 but similar to more recent years.</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/asylum2.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">3.1 million asylum claims</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">By the end of 2017, about 3.1 million people were awaiting a decision on their application for asylum, about half in developing regions.</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/syria2.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">5 million displaced people returned</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">During 2017, nearly 5 million displaced people returned to their areas or countries of origin, comprising 4.2 million internally displaced people and 667,400 refugees. Returns have not kept pace with the rate of new displacements.</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

      <div class="col-12 col-md-6 col-lg-4">
        <div class="cause-wrap">
          <figure class="m-0">
            <img src="images/afghan.jpg" alt="">
          </figure>
          <div class="cause-content-wrap">
            <header class="entry-header d-flex flex-wrap align-items-center">
              <h3 class="entry-title w-100 m-0">85% Hosted by Developing Regions</h3>
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p class="m-0">Developing regions hosted 85 per cent of the world’s refugees under UNHCR’s mandate, about 16.9 million people. The least developed countries provided asylum to a growing proportion, amounting to one-third of the global total (6.7 million refugees).</p>
            </div><!-- .entry-content -->
          </div><!-- .cause-content-wrap -->
        </div><!-- .cause-wrap -->
      </div><!-- .col -->

    </div><!-- .row -->
  </div><!-- .container -->
<!-- </div> -->
