<div class="single-page about-page">
  <%= render '/facts/1' %>
</div>

<div class="home-page-icon-boxes">
  <%= render '/facts/2' %>
</div>

<div class="home-page-welcome">
  <%= render '/facts/3' %>
</div>

<div class="our-causes">
  <%= render '/facts/4' %>
</div>
