<div class="jumbotron">
  <h1 class="display-3">Refugee Statistics</h1>
</div>

<div class="info">
  <div class="card text-white bg-primary mb-3">
    <h4><div class="card-header">Who is a Refugee?</div></h4>
    <div class="card-body">
      <p class="card-text">A refugee is someone who has been forced to flee his or her country because of persecution, war or violence. A refugee has a well-founded fear of persecution for reasons of race, religion, nationality, political opinion or membership in a particular social group. Most likely, they cannot return home or are afraid to do so. War and ethnic, tribal and religious violence are leading causes of refugees fleeing their countries.</p>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3">
    <h4><div class="card-header">Who is an Internally Displace Person?</div></h4>
    <div class="card-body">
      <p class="card-text">An internally displaced person, or IDP, is someone who has been forced to flee their home but never cross an international border. These individuals seek safety anywhere they can find it—in nearby towns, schools, settlements, internal camps, even forests and fields. IDPs, which include people displaced by internal strife and natural disasters, are the largest group that UNHCR assists. Unlike refugees, IDPs are not protected by international law or eligible to receive many types of aid because they are legally under the protection of their own government.</p>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3">
    <h4><div class="card-header">Who is an Asylum Seeker?</div></h4>
    <div class="card-body">
      <p class="card-text">When people flee their own country and seek sanctuary in another country, they apply for asylum – the right to be recognized as a refugee and receive legal protection and material assistance. An asylum seeker must demonstrate that his or her fear of persecution in his or her home country is well-founded. </p>
    </div>
  </div>
