 <h1>Countries</h1>

 <div id="chart-4" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;">
 </div>

 <script type="text/javascript">
 new Chartkick.BarChart("chart-4", [["Syria",6309000],["Afghanistan",2624000],["South Sudan",2440000],["Myanmar",1157000],["Somalia",986000]], {});
 </script>


<div id="chart-container">
 <%= @chart.render() %>
</div>
