 <h1>Countries</h1>

 <div id="chart-4" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;">
 </div>
 <script type="text/javascript">
   new Chartkick.BarChart("chart-4", [["India",16.6],["Mexico",16],["Russia",10.6],["China",10],["Bangladesh",7.5]], {});
 </script>
