<!-- <div class="home-page-welcome"> -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <div class="welcome-content">
          <header class="entry-header">
            <h2 class="entry-title"><%= @country.name %></h2>
          </header><!-- .entry-header -->

          <div class="entry-content mt-5">
            <p><%= @country.facts %></p>
          </div><!-- .entry-content --><br>

    </div><!-- .row -->
  </div><!-- .container -->
<!-- </div> -->
