<div class="single-page causes-page">
  <%= render '/destinations/header2' %>
</div><br><br>

<div class="chart"
  <div id="chart-container">
  <%= @chart.render() %>
  </div>
</div><br><br>

<div class="home-page-welcome">
<%= render '/destinations/facts' %>
</div>
